body {
  background-color: #efb7b7;
  font-family: "Jost", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.img > img {
  height: 200px;
  position: relative;
  border-radius: 10%;
}
.box {
  margin: 10px;
  border-radius: 10%;
  display: inline-block;
}
.info,
#two,
#four,
#one {
  background-color: #bd4b4b;
  text-align: center;
  padding: 20px;
  color: #eeeeee;
}
.about,
#three,
#five,
.img {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  color: #bd4b4b;
}

ul {
  display: inline-block;
  list-style-type: square;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.cntntnav {
  background-color: #eeeeee;
  padding:20px;
  text-align: center;
  margin: 0;
  border-radius: 10%;
  display:inline-block;
}

.nav {
  margin: 10px;
  color: #bd4b4b;
}
a {
  color: #bd4b4b;
  text-decoration: none;
}

hr {
  border: dashed #eeeeee;
}

footer {
  color: #bd4b4b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  gap: 10px;
  margin: 10px;
  display: inline-block;
}

.foot {
  background-color: #eeeeee;
  padding: 20px;
  text-align: center;
  border-radius: 10%;
}

.link {
  color:#efb7b7;
}